ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(241, 13, 249);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.ฟ้อนกลาง{
    
}
.กล่องใหญ่{
   position: fixed;  
   top: 40%;  
   left: 50%;  
   transform: translate(-50%, -50%);
   background-color: rgb(106, 99, 106);
   padding: 1%;
   border-radius: 5%;
   padding-left: 10%;
}
.ข้อความตรงกลาง{ 
    position: fixed;  
    top: 60%;  
    left: 50%;  
    transform: translate(-50%, -50%);
}
.กล่องซ้าย{
   position: fixed;  
   top: 80%;  
   left: 30%;  
   transform: translate(-50%, -50%);
   background-color: rgb(234, 81, 15);
   border-radius: 5%;
   padding-left: 1%;
   padding-right: 1%;
   padding: 0.5%;
}
.กล่องขวา{
    position: fixed;  
   top: 80%;  
   left: 70%;  
   transform: translate(-50%, -50%);
   background-color: rgb(234, 81, 15);
   border-radius: 5%;
   padding-left: 1%;
   padding-right: 1%;
   padding: 0.5%;
}